@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap'); /*Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.alert {
    position: absolute;
    z-index: 4;
    padding: 20px;
    margin-top: 60px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 35px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*footer блок*/
#footer {
    margin-top: 45px;
    border-top: 2px dashed #e4e3e3;
    width: 100%;
    float:left;
    text-align: center;
    padding-top: 50px;
    color: #000;
    font-size: 1em;
    padding-bottom: 45px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

}

body,html {
  width: 100%;
  height: 100%;
}