* {
  margin: 0;
  padding: 0;
  outline: none;

}

body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: Trebuchet MS, Helvetica;
}

/* шапка */
header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
}

header #logo{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
}

.lk-button {
  text-decoration: none;
  padding: 7px 30px;
  border-radius: 10px;
  font-size: 1em;
  background-color: #D1198B;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;
}
.lk-button:hover {
  background-color: #9700BD;
  text-decoration: none;
}

@media (min-width: 701px){
  #logo{
    float: left;
    width: 30%;
    font-size:1.1em;
  }

  #about{
    float:right;
    width: 67%;

  }
}

@media (max-width: 700px){
  #logo{
    margin-top: 15px;
    width: 100%;
    font-size:1.5em;
  }
  header #logo span{
    font-size:1.2em;
  }
  #about{
    float:left;
    width: 100%;
  }
}



#about{
  text-align:center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #000;}
#about > a:hover:not(:last-child) {color: #b0b0b0;}

#about > a:not(:last-child){
  margin-right: 7%;
}

@media (max-width: 650px) {
  #about {
    font-size : 0.9em;

  }
}

@media (max-width: 450px) {
  .lk-button {
    padding: 3px 4px;
    margin-right: 0%;
  }
  #about {
    font-size : 0.8em;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.form-container {
  width: 500px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
 }

.form_title {
  margin: 0 0 32px 0;
  font-weight: bold;
 }


.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color :#fff ;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
 }

.signin-text-input {
  position: relative;
  margin-bottom: 32px;
}

.signup-text-input {
  position: relative;
  margin-bottom: 32px;
}

.form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.label-input {
  position: absolute;
  top: 0;
  z-index: -1;
  color: #9e9e9e;
  transition: 0.3s;
}

.btn:focus,
.btn:hover{
  background-color: rgba(0, 113, 240, 0.7);
}

.form-input:focus {
  border-bottom: 1px solid #1a73a8;
 }

input[type="text"] {
  font-size: 18px;
}

input[type="password"] {
  font-size: 18px;
}

.invalid-feedback {
  color: #f44336;
  display: block;
}

.form-input-invalid {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #f44336;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

#invalid-text {
  font-size: 10pt;
}

#no-content-json {
  width: 100px;
}

#no-content-text {
  padding-left: 30px;
  display: inline-block;
}

.no-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.no-content-text-btn {
  float: right;
}