
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}
#footer {
    display: none;
}

.home_content {
    background-color: #eee;
    display: table;

}

.card-body .profile_details_stat {
    display: flex;

}