<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{% block css %}{% endblock %}">
	{% block script %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='jquery.countdown/jquery.countdown.js') }}"></script>
</head>
<body>
{% for cat, msg in get_flashed_messages(True) %}
	{% if cat == 'error' %}
	<div class="alert">
  		<span class="closebtn">×</span>
  		<strong>Ошибка!</strong> {{ msg }}
	</div>
	{% elif cat == 'success' %}
	<div class="alert success">
  		<span class="closebtn">×</span>
  		<strong>Успех!</strong> {{ msg }}
	</div>
	{% elif cat == 'info' %}
	<div class="alert info">
  		<span class="closebtn">×</span>
  		<strong>Оповещение.</strong> {{ msg }}
	</div>
	{% elif cat == 'warning' %}
	<div class="alert warning">
  		<span class="closebtn">×</span>
  		<strong>Внимание!</strong> {{ msg }}
	</div>
	{% endif %}
	{% endfor %}
{% block body %}{% endblock %}
	<div id="footer">
      <span>Statistics.Server © 2021-2022<br>(Все права защищены!)<br>Платформу разработал Исаев Илья</span>
    </div>
</body>
	<script>
		function slowScroll(id){
			$('html, body').animate({
				scrollTop: $(id).offset().top //<!--Получение высоты-->
			},500);
		}

		$(document).on("scroll", function (){
			if($(window).scrollTop() === 0 ){
				$("header").removeClass("fixed");
			}
			else {
				$("header").attr("class","fixed");
			}
		});
	</script>
	<script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
    </script>
</html>


<!-- url_for('static', filename ='css/main.css')-->