{% extends 'base.html' %}
{% block css %}
{{ url_for('static', filename='css/login.css') }}
{% endblock %}
{% block body %}
    <header>
		<a href="/" id="logo">
			<span>{{ header }}</span>
		</a>
		<div id = "about">
            {% for key,values in header_map.items() %}
			<a href="{{ values }}" title = "{{ key }}">{{ key }}</a>
            {% endfor %}
		</div>
	</header>
    {% for cat, msg in get_flashed_messages(True) %}
	{% if cat == 'error' %}
	<div class="alert">
  		<span class="closebtn">×</span>
  		<strong>Ошибка!</strong> {{ msg }}
	</div>
	{% elif cat == 'success' %}
	<div class="alert success">
  		<span class="closebtn">×</span>
  		<strong>Успех!</strong> {{ msg }}
	</div>
	{% elif cat == 'info' %}
	<div class="alert info">
  		<span class="closebtn">×</span>
  		<strong>Оповещение.</strong> {{ msg }}
	</div>
	{% elif cat == 'warning' %}
	<div class="alert warning">
  		<span class="closebtn">×</span>
  		<strong>Внимание!</strong> {{ msg }}
	</div>
	{% endif %}
	{% endfor %}
	<div class="form-container">
		<div class="sign-in-container">
			<form
                {% if request.args.get('next') %}
                action="{{ url_for('login', next=request.args.get('next'))}}"
                {% else %}
                action="{{ url_for('login') }}"
                {% endif %}
                method="post" >
				<h1>Вход</h1>
            	{{ form_log.hidden_tag() }}
            	{% for field in form_log if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                	{% if field.errors %}
					{{ field(class="invalid") }}
                	<span class="invalid-feedback">
                    {% for e in field.errors %}
                    <div>{{ e }}</div>
                    {% endfor %}
                	</span>
                	{% else %}
					<div class="signup-text-input">{{ field() }}</div>
                	{% endif %}
            	{% endfor %}

				<div class="boxing"><a href="#">Забыли пароль?</a></div>
				<div class="boxing">{{ form_log.remember() }} - {{ form_log.remember.label }}</div>
				<div class="boxing">{{ form_log.submit(class="btn") }}</div>

			</form>
		</div>
	</div>
    <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
	    container.classList.remove("right-panel-active");
    });

    </script>
    <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
    </script>
{% endblock %}