{% extends 'base.html' %}
{% block css %}
{{ url_for('static', filename='css/login.css') }}
{% endblock %}
{% block body %}
    <header>
		<a href="/" id="logo">
			<span>{{ header }}</span>
		</a>
		<div id = "about">
            {% for key,values in header_map.items() %}
			<a href="{{ values }}" title = "{{ key }}">{{ key }}</a>
            {% endfor %}
		</div>
	</header>
    {% for cat, msg in get_flashed_messages(True) %}
	{% if cat == 'error' %}
	<div class="alert">
  		<span class="closebtn">×</span>
  		<strong>Ошибка!</strong> {{ msg }}
	</div>
	{% elif cat == 'success' %}
	<div class="alert success">
  		<span class="closebtn">×</span>
  		<strong>Успех!</strong> {{ msg }}
	</div>
	{% elif cat == 'info' %}
	<div class="alert info">
  		<span class="closebtn">×</span>
  		<strong>Оповещение.</strong> {{ msg }}
	</div>
	{% elif cat == 'warning' %}
	<div class="alert warning">
  		<span class="closebtn">×</span>
  		<strong>Внимание!</strong> {{ msg }}
	</div>
	{% endif %}
	{% endfor %}
	<div class="main">
		<h3>Введите текст события:</h3>
		<form action="/add_post" method="post">
            <textarea placeholder="Текст события. . ." name="text"></textarea>
            <input type="submit" value="Сохранить"/>
        </form>
	</div>
{% endblock %}